<nav class="menuLat" id="menuLat">
  <a class="circle coche" [routerLink]="[]" fragment="home" href="#home"></a>
  <a class="circle" [routerLink]="[]" fragment="carte" href="#carte"></a>
  <a class="circle" [routerLink]="[]" fragment="top10" href="#top10"></a>
  <a class="circle" [routerLink]="[]" fragment="evolution" href="#evolution"></a>
  <a class="circle" [routerLink]="[]" fragment="evolution-bubble" href="#evolution-bubble"></a>
  <a class="circle" [routerLink]="[]" fragment="regions" href="#regions"></a>
</nav>
<router-outlet></router-outlet>
