<section class="basPage" id="basPage">
  <div class="container">
    <div class="sipri">
      <p>Based on SIPRI data</p>
      <a href="https://www.sipri.org/" target="_blank"><img src="../assets/images/sipri.png"/></a>
    </div>
    <div class="auteur">
      <h3>Contact</h3>
      <p>Alban Busnel</p>
      <a class="contact "href="mailto:alban.busnel@protonmail.com">E-mail</a>
      <div class="reseauxSociaux">
          <a href="https://twitter.com/AlbanBus"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a href ="https://www.linkedin.com/in/alban-busnel-9888155a" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
