<section class="regions" id="regions">
  <div class="container">
    <h2>Spendings by region</h2>
    <div class="contenu">
      <svg class="region-graph" (window:resize)="onResize($event)"></svg>
      <div class="comment">
        <p>Americas' first place is mostly due to the <span>United States</span> which amounts for 89% of the spendings of the region.</p>
        <p>In Asia, <span>China</span> has a significant weight as it accounts for 50%. Just 12% for <span>India.</span></p>
        <p>There is much less imbalance in Europe. <span>Russia, France</span> and the <span>UK</span> are the greatest spenders of the region.</p>
        <p>Due to the lack of data for a set of countries, conclusions for the Middle-East region are difficult to draw.</p>
      </div>
    </div>
  </div>
</section>
